:root {
    --main-color: #e5e7ebaa;
    --secondary-color: #720acd;
    --tertiary-color: #7E7E7E;
    --quaternary-color: #eaeaea;


    --primary-font-family: "Syne";

    --primary-font-color: #000000;
    --secondary-font-color: #ffffff;

    --font-size-xl: 32px;
    --font-size-l: 30px;
    --font-size-m: 22px;
    --font-size-s: 16px;
    --font-size-xs: 12px;

    --selection-color: #A07D69;

    --breakpoint-mobile: 320px;
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 1024px;
}