.title {
  font-size: var(--font-size-xl);
}

.todohandler {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  height: 40px;
  
  .addinput {
    height: auto;
    flex-grow: 1;
    padding: 0 10px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 8px;
  }
  
  .addbtn {
    height: auto;
    width: auto;
    padding: 0 20px;
    white-space: nowrap;
    background-color: rgb(114, 10, 205);
    color: white;
    border-radius: 8px;
    text-align: center;
  }

  .filter {
    display: flex;
  }
}

.todolist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 7px;

  .task {
    width: 100%;
    min-height: 40px;
    background-color: white;
    border-radius: 5px;

    .checkinput {
      border: 1px solid grey;
      border-radius: 3px;
      width: 20px;
      height: 20px;
    }
  }
}